body {
    margin-top: 46px;
    font-size: .875rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.bg-sandbox { background-color: #5c2877; }

.navbar-brand { font-size: 1rem; }